<<<<<<< HEAD
body{
    background-color: pink; 
    height: 100vh;
}

h1, p {
    color: red;
}

h1 {
    padding: 250px;
    display: flex;
    justify-content: center;
    
}

p {
    display: flex;
    justify-content: center;
}

#start-button is-danger is-outlined {
    display: flex;
    justify-content: center;
    margin-right: 50%;
}
=======

h2 {

    font-family: "Lobster", "cursive";
    text-align: center;
    font-weight: 700;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: red;
    color: deeppink;
}

.body{
    background-color: #f699cd;
    height: 100vh;
}

p {
    font-family: "Lobster", "cursive";
    color: deeppink;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: red;
}

.box {
    width: 500px;
    height: 300px;
    margin: auto;
    
}

button {
    font-family: "Lobster", "cursive";
    margin: 0;
    position: absolute;
    top: 50%;
    left: 40%;
    bottom: 0;
}

h1{
    
    font-family: "Lobster", "cursive";
    text-align: center;
    font-weight: 900;
    background: url(https://media.giphy.com/media/10rtoKqcDukJgc/giphy.gif);
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: red;
    color: white;
    
}
>>>>>>> 03e4fc33bc2b128e85f1d1f57b2cf73f37873c03
