

.question{
    text-align: center;
    margin-top: 20%;
    /* font-family: "Lobster", "cursive"; */
}

body{
    height: 100vh;
    background-color: #f699cd;
    font-family: "Lobster", "cursive";
    /* color: deeppink;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: red; */
}


.button {
    font-family: "Lobster", "cursive";
    color: deeppink;
    /* -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: red; */
}

