
h2 {

    font-family: "Lobster", "cursive";
    text-align: center;
    font-weight: 700;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: red;
    color: deeppink;
    padding-bottom: 1.5px;
    padding-top: 1.5px;
}

.body{
    background-color: #f699cd;
    height: 100vh;
}

p {
    font-family: "Lobster", "cursive";
    color: deeppink;
    padding-bottom: 3px;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: red;
}

.box {
    width: 500px;
    height: 300px;
    margin: auto;
    bottom: 0;
    
}

button {
    font-family: "Lobster", "cursive";
    margin: 0;
    position: absolute;
    top: 50%;
    left: 47%;
    
}

h1{
    
    font-family: "Lobster", "cursive";
    text-align: center;
    font-weight: 900;
    background: url(https://media.giphy.com/media/10rtoKqcDukJgc/giphy.gif);
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: red;
    color: white;
    
}
.center{
    margin: auto;
    width: 50%;
    padding: 10px;
}
